<form class="form post-form">
    <div class="form-group">
        <h1>Enter Title</h1>
        <input id="post-title" />
        <h1>Enter Content</h1>
        <textarea id="post-content"></textarea>
        <br/>
        <button id="post-submit">Submit</button>
        <script src="/js/new-post.js"></script>
    </div>
</form>